name: Release

on:
  # Trigger this workflow when a tag is pushed in the format `v1.2.3`.
  push:
    tags:
      # Pattern syntax: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      - "v[0-9]+.[0-9]+.[0-9]+*"
  # Trigger this workflow manually via workflow dispatch.
  workflow_dispatch:
    inputs:
      version:
        description: "Version number in the format `v1.2.3`"
        required: true
        type: string

jobs:
    # Determine the version number for this workflow.
  get-version:
    runs-on: ubuntu-latest
    steps:
      - name: Get version number from tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> "${GITHUB_OUTPUT}"
    outputs:
      # Use the input from workflow dispatch, or fall back to the git tag.
      version: ${{ inputs.version || steps.tag.outputs.tag }}

  build:
    name: Build installer
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: Restore Rust cache
        id: cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: release
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build project
        run: cargo build --release

      - name: Compile Installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: installer/installer.iss
          options: /O+

      - name: Sign Installer
        uses: mscrivo/signtool-code-sign@v1
        with:
          certificate: '${{ secrets.CERTIFICATE }}'
          cert-password: '${{ secrets.CERTPASSWORD }}'
          cert-sha1: '${{ secrets.CERTHASH }}'
          cert-description: 'Installer for BS2'
          folder: '.\installer\Output'
          timestamp-server: 'http://timestamp.digicert.com'

      - name: Archive installer
        uses: actions/upload-artifact@v6
        with:
          name: bs2-installer
          path: installer/Output/bs2-installer.exe

  upload-github:
    name: Upload installer to GitHub
    needs: 
        - get-version
        - build
    runs-on: windows-latest
    steps:
      - name: Download all packages
        uses: actions/download-artifact@v4
        with:
          name: bs2-installer
          path: tmp

      - name: Upload package to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: installer/Output/bs2-installer.exe
          asset_name: temp/bs2-installer.exe
          release_name: ${{ env.version }}
          tag: ${{ env.version }}
          overwrite: true

  upload-itch:
    name: Upload installer to itch.io
    needs: 
        - get-version
        - build
    runs-on: windows-latest
    steps:
      - name: Download all packages
        uses: actions/download-artifact@v7
        with:
          name: bs2-installer
          path: tmp

      - name: Install butler
        run: |
          curl -L -o butler.zip 'https://broth.itch.zone/butler/linux-amd64/LATEST/archive/default'
          unzip butler.zip
          chmod +x butler
          ./butler -V

      - name: Upload all packages to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_CREDENTIALS }}
        run: |
          ./butler push \
            --fix-permissions \
            --userversion='${{ needs.get-version.outputs.version }}' \
            temp/bs2-installer.exe \
            janhohenheim/bs2:"${channel#package-}"
